@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic typography */
body { font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji"; }
